* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#root {
  height: 100vh;
}
.layout {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100%;
  grid-template-rows: 50px 1fr 50px;
}

main {
  grid-area: main;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.wrapper .productsEl {
  width: 68%;
}
.wrapper .filterEl {
  width: 30%;
}
.nav ul {
  display: flex;
  background-color: #ddd;
  list-style: none;
  padding: 10px 35px;
}
.nav ul li a {
  background-color: gray;
  color: #fff;
  display: block;
  padding: 5px 10px;
  margin-right: 5px;
  text-decoration: none;
  cursor: pointer;
}
.nav ul li a.active {
  background-color: #2a5ea2;
}
